.redis-aside{
    /*border: 2px solid goldenrod;*/
}
.redis-aside-meta{
    /*border: 1px solid firebrick;*/
    padding: 0.2em;
}
.redis-aside-meta i {
  padding-left: 1em;
}

.redis-head{
    border: 2px solid red;
}
.redis-main{
    border: 2px solid yellowgreen;
}