<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="apps">
    <el-container>
        <el-header>
        </el-header>
        <el-main>
            <div v-if="isFirst" class="index-main">
                <div class="index-main-btn">
                    <el-button @click="showDialogForm">新增</el-button>
                </div>

                <el-dialog title="创建新的数据库链接" :visible.sync="dialogFormVisible" center>
                    <el-form :model="form">
                        <el-form-item label="数据库类型:" :label-width="formLabelWidth">
                            <el-select v-model="form.Type" placeholder="请选择数据库类型" class="formType">
                                <el-option label="Redis" value="redis"></el-option>
                                <el-option label="MongoDB" value="mongodb"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="昵称:" :label-width="formLabelWidth">
                            <el-input v-model="form.NickName" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="主机:" :label-width="formLabelWidth">
                            <el-input v-model="form.Host" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="端口:" :label-width="formLabelWidth">
                            <el-input v-model="form.Port" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="用户名:" :label-width="formLabelWidth">
                            <el-input v-model="form.UserName" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="密码:" :label-width="formLabelWidth">
                            <el-input v-model="form.PassWord" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
                    </div>
                </el-dialog>

                <div class="index-main-coll-table">
                    <el-table :data="connList" stripe style="width: 100%">
                        <el-table-column prop="NickName" label="小名" width="180"></el-table-column>
                        <el-table-column prop="Type" label="类型" width="180"></el-table-column>
                        <el-table-column prop="Host" label="主机"></el-table-column>
                        <el-table-column prop="Port" label="端口"></el-table-column>
                    </el-table>
                </div>
            </div>
        </el-main>
        <el-footer>
        </el-footer>
    </el-container>

</div>
<script>
    new Vue({
        delimiters: ['${', '}$'],
        el: '#apps',
        data: {
            isFirst:{{ .isFirst }},
            dialogFormVisible: false,
            connList:{{ .connList }},
            form: {
                NickName: '',
                Type: '',
                Host: '',
                Port: '',
                UserName: '',
                PassWord: '',
            },
            formLabelWidth: '120px',
        },
        methods: {
            showDialogForm() {
                this.form.Host = "localhost";
                this.form.NickName = "new collection";
                this.form.UserName = "root";
                this.dialogFormVisible = true;
            }
        }
    })
</script>
</body>
</html>
