<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="apps">
    <el-container>
        <el-header>
        </el-header>
        <el-main>
            <div class="index-main">
                <div class="index-main-btn">

                    <el-button size="small" @click="showDialogForm"><i class="el-icon-document-add"></i>&nbsp;&nbsp;多选
                    </el-button>
                    <el-button size="small" @click="showDialogForm"><i class="el-icon-circle-plus-outline"></i>&nbsp;&nbsp;新增
                    </el-button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <el-dropdown trigger="click">
                        <span class="el-dropdown-link">
                          更多操作<i class="el-icon-caret-bottom el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item class="clearfix">
                                导入数据库链接
                                <el-badge class="mark"/>
                            </el-dropdown-item>
                            <el-dropdown-item class="clearfix">
                                导出数据库链接
                                <el-badge class="mark"/>
                            </el-dropdown-item>
                            <el-dropdown-item class="clearfix">
                                了解DBHaha ～
                                <el-badge class="mark"/>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>

                <el-dialog :title='dialogTitle' :visible.sync="dialogFormVisible" center>
                    <el-form :model="form" :rules="formRules">
                        <el-form-item label="数据库类型:" :label-width="formLabelWidth" prop="type">
                            <el-select v-model="form.type" :disabled="dialogCanEdit" @change="dbTypeChange"
                                       placeholder="请选择数据库类型" class="formType">
                                <el-option label="Redis" value="redis"></el-option>
                                <el-option label="MongoDB" value="mongodb"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="昵称:" :label-width="formLabelWidth" prop="nickname">
                            <el-input v-model="form.nickname" :disabled="dialogCanEdit" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="主机:" :label-width="formLabelWidth">
                            <el-input v-model="form.host" :disabled="dialogCanEdit" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="端口:" :label-width="formLabelWidth" prop="port">
                            <el-input v-model.number="form.port" :disabled="dialogCanEdit"
                                      autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="用户名:" :label-width="formLabelWidth">
                            <el-input v-model="form.username" :disabled="dialogCanEdit" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="密码:" :label-width="formLabelWidth">
                            <el-input v-model="form.password" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="id:" :label-width="formLabelWidth" style="display: none">
                            <el-input v-model="form.id" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取 消</el-button>
                        <el-button type="primary" @click="submitForm">确 定</el-button>
                    </div>
                </el-dialog>

                <div class="index-main-coll-table">
                    <el-table :data="connList" stripe border style="width: 90%; margin: auto;text-align: center">
                        <el-table-column prop="Nickname" label="小名" width="200"></el-table-column>
                        <el-table-column prop="Type" label="类型" width="120"></el-table-column>
                        <el-table-column prop="Host" label="主机" width="150"></el-table-column>
                        <el-table-column prop="Port" label="端口" width="100"></el-table-column>
                        <el-table-column prop="Username" label="用户" width="150"></el-table-column>
                        <el-table-column fixed="right" label="操作">
                            <template slot-scope="scope">
                                <el-button @click="openColl(scope.row)" type="text" size="small">链接</el-button>
                                <el-button @click="viewColl(scope.row)" type="text" size="small">查看</el-button>
                                <el-button @click="editColl(scope.row)" type="text" size="small">编辑</el-button>
                                <el-button @click="deleteColl(scope.row)" type="text" size="small">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </el-main>
        <el-footer>
        </el-footer>
    </el-container>

</div>
<script>
    new Vue({
        delimiters: ['${', '}$'],
        el: '#apps',
        data: {
            dialogTitle: "创建新的数据库链接",
            dialogCanEdit: true,
            isFirst:{{ .isFirst }},
            dialogFormVisible: false,
            connList:{{ .connList }},
            form: {
                id: '',
                nickname: '',
                type: '',
                host: '',
                port: '',
                username: '',
                password: '',
            },
            formLabelWidth: '150px',
            formRules: {
                nickname: [
                    {required: true, message: '请输入链接名字', trigger: 'blur'},
                    {min: 1, max: 30, message: '长度在 1 到 30 个字符', trigger: 'blur'}
                ],
                port: [
                    {required: true, message: '端口不能为空'},
                    {type: 'number', message: '端口必须为数字值'}
                ],
                type: [
                    {required: true, message: '请选择活动区域', trigger: 'change'}
                ],
            }
        },
        methods: {
            async submitForm() {
                this.dialogTitle = "创建新的数据库链接";
                const res = await axios.post('/user/addConn', this.form);
                this.dialogFormVisible = false;
                if (res.status === 201 || res.status === 200) {
                    location.reload();
                    this.$message({message: '添加成功', type: 'success'});
                } else
                    this.$message.error(res.statusText);
            },
            viewColl(coll) {
                this.changeDialogStatus(coll, "查看链接", true);
                this.dialogFormVisible = true;
            },
            editColl(coll) {
                this.changeDialogStatus(coll, "编辑链接", false);
                this.dialogFormVisible = true;
            },
            async deleteColl(coll) {

                this.$confirm('此操作将永久删除, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(async () => {
                    const params = new URLSearchParams();
                    params.append('cid', coll.Id);
                    const res = await axios.post('/user/RemoveConn', params);
                    if (res.status === 200) {
                        location.reload();
                        this.$message({message: '添加成功', type: 'success'});
                    } else
                        this.$message.error(res.body.data.message);
                }).catch(() => {
                    // 点击取消
                });
            },
            openColl(coll) {

                window.open(`/${coll.Type}/open/${coll.Id}`, "_self")
            },
            showDialogForm() {
                this.changeDialogStatus(null, "创建新的数据库链接", false);
                this.dialogFormVisible = true;
            },
            changeDialogStatus(coll, title, canEdit) {

                if (!coll) coll = {};

                this.dialogTitle = title || "创建新的数据库链接";
                this.dialogCanEdit = Boolean(canEdit);

                this.form.host = coll.Host || "localhost";
                this.form.nickname = coll.Nickname || "new collection";
                this.form.username = coll.Username || "";
                this.form.password = coll.Password || "";
                this.form.port = coll.Port || "";
                this.form.id = coll.Id || "";
                this.form.type = coll.Type || "";

            },
            dbTypeChange() {
                if (this.form.type === "redis") this.form.port = 6379;
                if (this.form.type === "mongodb") this.form.port = 27017;
            }
        }
    })
</script>
</body>
</html>
