<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/redis.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="redis">
    <el-container>
        <el-container>
            <el-aside width="300px">
                <el-card class="box-card">
                    <div class="redis-aside">
                        <div class="redis-aside-meta">
                            <span>{{ .conn.Host}}:{{.conn.Port}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="el-icon-refresh-right"></i><i class="el-icon-close"></i>
                        </div>
                        <br/>
                        <el-select v-model="dbNo" @change="dbNoChange">
                            <el-option v-for="index in 16" :key="index-1" :label="'DB' + (index-1)" :value="index-1"
                                       size="medium">
                            </el-option>
                        </el-select>
                    </div>
                </el-card>


            </el-aside>
            <el-container>
                <el-header>
                    <div class="redis-head">
                        head
                    </div>
                </el-header>
                <el-main>
                    <div class="redis-main">
                        main
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</div>
<script>
    new Vue({
        delimiters: ['${', '}$'],
        el: '#redis',
        data: {
            conn:{{.conn}},
            dbNo: 0,
        },
        methods: {
            async dbNoChange() {
                console.log(this.dbNo);
            },
        }
    })
</script>
<style type="text/css">
</style>
</body>
</html>
