<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <script src="/static/js/vue.js"></script>
    <link rel="stylesheet" href="/static/css/theme-chalk-index.css">
    <link rel="stylesheet" href="/static/css/redis.css">
    <script src="/static/js/element-index.js"></script>
    <script src="/static/js/axios.min.js"></script>
</head>
<body>
<div id="redis">
    <el-container>
        <el-container>
            <el-aside width="240px">
                <el-card class="box-card" shadow="hover">
                    <div class="redis-aside">
                        <div class="redis-aside-meta">
                            <span>{{ .conn.Host}}:{{.conn.Port}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="el-icon-refresh-right"></i><i class="el-icon-close"></i>
                        </div>
                        <br/>
                        <el-select v-model="dbNo" @change="dbNoChange">
                            <el-option v-for="index in 16" :key="index-1" :label="'DB' + (index-1)" :value="index-1"
                                       size="medium">
                            </el-option>
                        </el-select>
                    </div>
                </el-card>
                <el-card class="box-card" shadow="hover">
                    <div v-for="(val,index) in  keyList" class="text item">
                        ${val}$
                    </div>
                </el-card>


            </el-aside>
            <el-container>
                <el-header>
                    <div class="redis-head">
                        head
                    </div>
                </el-header>
                <el-main>
                    <div class="redis-main">
                        main
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </el-container>

</div>
<script>
    new Vue({
        delimiters: ['${', '}$'],
        el: '#redis',
        data: {
            conn:{{.conn}},
            dbNo: 0,
            keyList: [],
        },
        methods: {
            async dbNoChange() {
                console.log(this.dbNo);
            },
        },
        async created() {
            const res = await axios.post(`/redis/op/${this.conn.Id}/keys`);
            if (res.status === 202) {
                this.keyList = res.data.data;
                console.log(this.keyList);
            } else {
            }

        }
    })
</script>
<style type="text/css">
</style>
</body>
</html>
